<style>
  .navbar__market-share {
  }
</style>
<p class="navbar">
  <mat-toolbar color="warn">
    <a class="navbar__home" routerLink="/">Loja Virtual NGXS</a>
    <span class="navbar__spacer"></span>
    <button
      mat-icon-button
      aria-label="Shopping cart button"
      (click)="isOpen = !isOpen"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="isOpen = false"
>
  <mat-card class="navbar__item">
    <mat-card-content>
      <ng-container *ngIf="items$ | async; let items">
        <ng-container *ngIf="items.length; else EmptyTemplate">
          <div class="navbar__market-share">
            <app-cart-item [item]="item" *ngFor="let item of items"></app-cart-item>
            <span>Valor dos Produtos: <b>{{ items | calculateTotal | currency: 'R$' }}</b></span>
            <div class="navbar__button">
              <button mat-raised-button color="warn" routerLink="/checkout">Finalizar compra</button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #EmptyTemplate>
  <p class="navbar__empty">Seu carrinho está vazio</p>
</ng-template>
