<p class="navbar">
    <mat-toolbar color="warn">
        <a class="navbar__home" routerLink="/">Loja Virtual NGXS</a>
        <span class="navbar__spacer"></span>
        <button mat-icon-button aria-label="Shopping cart button" (click)="isOpen = !isOpen" cdkOverlayOrigin
            #trigger="cdkOverlayOrigin">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
</p>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
    <mat-card>
<mat-card-content>
    <ul class="example-list">
        <li *ngFor="let item of items$ | async">{{ item.title }}</li>
    </ul>
</mat-card-content>
    </mat-card>
</ng-template>