.preview {
  height: 400px;
  display: inline-flex;
  gap: 16px;
  box-sizing: border-box;

  &__options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    padding: 8px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 8px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__image {
    box-shadow: 0 0 3px #c3c3c3;
    border-radius: 8px;
    padding: 0 4px;
  }

  .option {
    cursor: pointer;
    padding: 4px;
    box-shadow: 0 0 3px #c3c3c3;
    border-radius: 8px;
  }
}
