<div class="product">
  <ng-container *ngIf="!loading; else LoadingTemplate">
    <div class="product__container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ product.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="product__content">
            <app-image-preview [images]="product.images" />
            <app-product-detail [product]="product" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>

<ng-template #LoadingTemplate>
  <div class="product__loading">
    <mat-progress-spinner mode="indeterminate" [diameter]="50" color="primary"></mat-progress-spinner>
  </div>
</ng-template>
