.checkout-item {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;

  &__title {
    width: 100%;
  }

  &__img {
    width: 70px;
    height: 70px;
    border: 1px solid #868686;
    border-radius: 6px;
    padding: 3px;
  }
}
